* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Azeret Mono", monospace;
}
/* navbar section starts here  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}
.logo {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  text-align: left;
}
.resume {
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
}
/* navbar section ends here  */

/* banner section starts here  */
.banner-section {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 40px 40px;
  border-top: 3px dashed #ddd;
  border-bottom: 3px dashed #ddd;



}
.banner-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  text-align: center;
}
.banner-description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}
.contact-me {
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background-color: #000;
  margin-top: 20px;
  cursor: pointer;
}

/* banner section end here   */
