* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Azeret Mono", monospace;
}
/* navbar section starts here  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}
.logo {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  text-align: left;
}
.resume {
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
}
/* navbar section ends here  */

/* banner section starts here  */
.banner-section {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 40px 40px;
  border-top: 3px dashed #ddd;
  border-bottom: 3px dashed #ddd;
}
.banner-title {
  color: rgb(13, 19, 33);
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  text-align: center;
}
.banner-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}
.contact-me {
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background-color: #000;
  margin-top: 20px;
  cursor: pointer;
}

/* banner section end here   */

/* Why Web Development starts section hare */
.why-web {
  padding: 100px 100px;
}
.container {
  border-radius: 16px;
  padding: 80px 80px;
  background: rgba(13, 19, 33, 0.02);
}
.why-web-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.why-web-description {
  text-align: center;
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;
}
.codeing-section-one {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  margin-top: 30px;
  gap: 30px;
}
.i-will-titel {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}
.i-will-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin: 20px 0px;
}
.learn-more {
  padding: 10px 25px;
  background-color: #fff;
  border: 1px solid #000;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
}
/* Why Web Development end section hare */

/* My Inspiration section starts hare  */
.Inspiration-section {
  padding: 50px 100px;
}
.my-titel {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}
.my-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 30px 30px;
}
.video {
  margin: auto;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 30px;
  height: 614px;
}
.video iframe {
  width: 100%;
  height: 100%;
}

/* My Inspiration section end hare */

/* My Current Target section starts here  */
.Current-section {
  padding: 50px 100px;
}
.Current-titel {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}
.Current-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 30px 30px;
}
.Current-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.Current-card {
  border-radius: 16px;
  padding: 40px;

  background: rgba(255, 76, 30, 0.05);
}
.Current-card h3 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
}
.Current-card p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin: 20px 0;
}
.Current-card a{
    color: rgb(13, 19, 33);
}

.second-card{
    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}
.thrd-card{
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}
/* My Current Target section end here  */
